<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>


<script>

    function check(){
    var chars1 = document.getElementById("streetName").value;
    var chars2 = document.getElementById("city").value;
    if (chars1.search(/[^a-zčćđšžA-ZČĆĐŠŽ\s]+/) !=-1 || chars2.search(/[^a-zčćđšžA-ZČĆĐŠŽ\s]+/) !=-1 ) {
    alert("Only characters allowed in Street Name and City");
    return false;
    }
    return true;
   }
       submitAndBack('formId');
    return true;
}

function submitAndBack(formId) {
    let formDoc = document.getElementById(formId);
    formDoc.submit();
    sleep(4000).then(function () {
        document.location.reload();
    });
}

function sleep(milliseconds) {
    return new Promise(function (resolve) {
        setTimeout(resolve, milliseconds);
    });
}
</script>

<style>
html {
  height: 100%;
}
body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.register-box {
  position: absolute;
  margin-top: 12px;
  top: 50%;
  left: 50%;
  width:700px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.register-box h2 {
  color: #fff;
  text-align: center;
}

.address
{
float: right;
color: white;
font-size: 30px;
font-weight: bold;
}

</style>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Home </a>
            <a class="navbar-brand" href="#" th:href="@{/manager/addBuildComplexForm}">Add Building</a>
            <a class="navbar-brand" href="#" th:href="@{/logout}">Logout</a>
        </div>
        <p> <span class="address" th:text="${address}"></span></p>
    </div>
</nav>

<br>
<br>
<div class="container">
    <div class="register-box">
        <h2>Building Complex</h2>
        <div class="col-md-6 col-md-offset-3">
            <form onsubmit="return check()" id="formId" th:action="@{/manager/updateBuilding/}+${buildComplexId}" method="post">
                <div class="form-group">
                    <span th:name="buildManagerId" th:value="${buildComplexId}"/>
                </div>
                <div class="form-group">
                    <label style="color: white;" class="control-label" for="streetName"> Street Name</label>
                    <input type="text" id="streetName" class="form-control" th:field="*{streetName}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label style="color: white;" class="control-label" for="streetNumber"> Street Number</label>
                    <input type="number" id="streetNumber" class="form-control" th:field="*{streetNumber}" required autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label style="color: white;" class="control-label" for="city">City</label>
                    <input type="text" id="city" class="form-control" th:field="*{city}" required autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label style="color: white;" class="control-label" for="postalCode">Postal-Code</label>
                    <input type="number" id="postalCode" class="form-control" th:field="*{postalCode}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label style="color: white;" class="control-label" for="username">Co-Owner Username <span>  <p style="color: red;">Enter street + number eg UpperStreet22</p></span></label>
                    <input id="username" class="form-control" th:field="*{username}" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary" style="color: white; " onclick="generatePass()">Generate Co-Owner Password</button>
                    <input type="password" id="password" class="form-control"  th:field="*{password}"   required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <a style="color: white;"  th:href="@{/}">
                        <button type="button" class="btn btn-info col-sm-offset-2">Cancel</button>
                    </a>
                    <button type="submit" class="btn btn-info col-offset-5 ">Update</button>
                    <a style="color: white;"  th:href="@{'/pdf/generate/'+ ${username} +'/'+ ${password} +'/'+ ${userType}}">
                        <button style="margin-start:10%" type="button" class="btn btn-primary">Export</button>
                    </a>
                </div>

            </form>
        </div >
    </div>

</div>
</body>

</html>