<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org
        http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>

    <head>
        <meta charset="UTF-8">
        <title>Update Unit</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <style>

.address
{
float: right;
color: white;
font-size: 25px;
font-weight: bold;
}
html {
  height: 100%;
}
body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#0275d8,#f7f7f7);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar{
  margin:0;
  padding:0;
  color:white;
  font-weight: bold;
  font-family: sans-serif;
  background: linear-gradient (#0275d8, #0275d8);
}
.navbar-brand{
color: white;
font-size: 30px;
font-weight: bold;

}

</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" sec:authorize="hasAuthority('BUILDMANAGER')" th:href="@{/manager/0}">Home </a>
            <a class="navbar-brand" sec:authorize="hasAuthority('COOWNERREP')" th:href="@{/coowner_rep}">Home </a>
            <a class="navbar-brand" sec:authorize="hasAuthority('BUILDMANAGER')" th:href="@{/manager/addBuildComplexForm}">Add Building </a>
            <a class="navbar-brand" th:href="@{/logout}">Logout</a>
        </div>
        <p> <span class="address" th:text="${address}"></span></p>
    </div>
</nav>
<br>
<br>
<br>
<br>
<div class="container">
    <form style="text-align: center;" class="w-100" sec:authorize="hasAuthority('BUILDMANAGER')" th:action="@{/manager/updateUnit/}+${unitId}" method="post" >
        <span th:name="floorId" th:value="${unitId}"/>

        <div class="form-group">
            <label style="color:white;" class="control-label" for="noOfTenants">No Of Tenants</label>
            <input type="number" id="noOfTenants" style="width: 300px; margin: auto;" th:name="noOfTenants" th:value="${noOfTenants}" autofocus="autofocus" class="form-control">
        </div>
        <div class="form-group">
            <label style="color:white;" class="control-label" for="unitTypeId">Unit Type</label>
            <select style="width: 300px; margin: auto;" class="form-control" id="unitTypeId" name="unitTypeId">
                <option>Select Unit Type</option>
                <option
                        th:each="unitType: ${unitTypes}"
                        th:text="${unitType.unitTypeName}"
                        th:value="${unitType.unitTypeId}"
                        th:name="${unitType.unitTypeId}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label style="color:white;" class="control-label" for="coOwnerId">CoOwner</label>
            <select style="width: 300px; margin: auto;" class="form-control" id="coOwnerId" name="unitTypeId">
                <option>Select Already Registered CoOwner</option>
                <option
                        th:each="coOwner: ${coOwners}"
                        th:text="${coOwner.coOwnerName}"
                        th:value="${coOwner.coOwnerId}">
                </option>
            </select>
        </div>

            <a style="color: white;"  th:href="@{/manager/viewFloor/}+${floorId}+@{/0}">
                <button type="button" class="btn btn-primary col-offset-5">Cancel</button>
            </a>
            <button type="submit" th:href="@{/manager/viewFloor/}+${floorId}+@{/0}" class="btn btn-info">Update</button>
<!--        </div>-->

    </form>
</div>

    <form style="text-align: center;" class="w-100" sec:authorize="hasAuthority('COOWNERREP')" th:action="@{/coowner_rep/updateUnit/}+${unitId}" method="post" >
        <span th:name="floorId" th:value="${unitId}"/>
        <div class="form-group">
            <label style="color:white;" class="control-label" for="noOfTenants">No Of Tenants</label>
            <input type="number" id="noOfTenants2" style="width: 300px; margin: auto;" th:name="noOfTenants" th:value="${noOfTenants}" autofocus="autofocus" class="form-control">
        </div>
        <div class="form-group">
            <label style="color:white;" class="control-label" for="unitTypeId">Unit Type</label>
            <select style="width: 300px; margin: auto;" class="form-control" id="unitTypeId2" name="unitTypeId">
                <option>Select Unit Type</option>
                <option
                        th:each="unitType: ${unitTypes}"
                        th:text="${unitType.unitTypeName}"
                        th:value="${unitType.unitTypeId}"
                        th:name="${unitType.unitTypeId}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label style="color:white;" class="control-label" for="coOwnerId">CoOwner</label>
            <select style="width: 300px; margin: auto;" class="form-control" id="coOwnerId2" name="unitTypeId">
                <option>Select Already Registered CoOwner</option>
                <option
                        th:each="coOwner: ${coOwners}"
                        th:text="${coOwner.coOwnerName}"
                        th:value="${coOwner.coOwnerId}">
                </option>
            </select>
        </div>
            <a style="color: white;"  th:href="@{/coowner_rep/viewFloor/}+${floorId}+@{/0}">
                <button type="button" class="btn btn-primary col-offset-5">Cancel</button>
            </a>
            <button type="submit" class="btn btn-info col-offset-5">Update</button>
        </div>
    </form>
</div>

</body>

</html>